@model NoteMarketPlace.Models.ContactModel
@{
    Layout = null;
    ViewBag.Title = "ContactUs";
}



<!DOCTYPE html>
<html lang="en">

<head>
    <!-- important meta tags  -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">


    <!-- title  -->
    <title>Contat Us</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Fontawesome -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="css/plugins/font-awesome/css/font-awesome.min.css">*@

    <!-- Bootstrap CSS -->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="css/plugins/bootstrap/bootstrap.min.css">*@

    <!-- custom css -->
    <link href="~/Content/ContactUs/ContactUs.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="../css/ContactUs/ContactUs.css">*@

    <!-- responsive css -->
    <link href="~/Content/ContactUs/responsive.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="../css/ContactUs/responsive.css">*@



</head>

<body>

    <!-- header  -->
    <header>
        <nav class="navbar navbar-fixed-top white-nav-top">
            <div class="container-fluid">
                <div class="site-nav-wrapper">
                    <div class="navbar-header">
                        <!-- Mobile Menu Open Button -->
                        <span id="mobile-nav-open-btn">&#9776;</span>
                        <!-- logo  -->
                        <a href="/Home/Index" class="navbar-brand smooth-scroll">
                           
                            <img src="~/Content/imges/logo blue.png" />
                            @*<img src="../image/home/logo blue.png" alt="logo">*@
                        </a>
                    </div>
                    <!-- main menu  -->
                    <div class="container">
                        <div class="collapse navbar-collapse d">
                            <ul class="nav navbar-nav pull-right">
                                <li>

                                    @Html.ActionLink("Search Note", "NoteListing", "Note", new { area = "" }, new { @class = "nav-link list-link " })
                                </li>
                                <li>  @Html.ActionLink("Sell Your Notes Note", "SellNote", "Home", new { area = "" }, new { @class = "nav-link list-link " })</li>
                                <li> @Html.ActionLink("FAQ", "FAQ", "Home", new { area = "" }, new { @class = "nav-link list-link " })</li>
                                <li> @Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, new { @class = "nav-link list-link active-link" })</li>

                                @if (Request.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        @Html.ActionLink("Buyer Request", "BuyerRequest", "Home", new { area = "" }, new { @class = "nav-link list-link" })

                                    </li>
                                    <li>
                                        <div class="dropdown">
                                            <button class=" dropdown-toggle .btn-user" type="button" data-toggle="dropdown">
                                                @*<img class="more" src="../image/Dashboard/user-img.png" alt="dots">*@
                                                <img class="more" src="~/Image/BuyerReq/user-img.png" />
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li> @Html.ActionLink("My Profile", "UserProfile", "Home", null, new { @class = "dropdown-item" })</li>
                                                <li> @Html.ActionLink("My Download", "Download", "Home", null, new { @class = "dropdown-item" })</li>
                                                <li> @Html.ActionLink("My Sold Note", "SoldNote", "Home", null, new { @class = "dropdown-item" })</li>
                                                <li> @Html.ActionLink("My Rejected Note", "RejectedNote", "Home", null, new { @class = "dropdown-item" })</li>
                                                <li> @Html.ActionLink("Change Password", "ResetPassword", "Account", null, new { @class = "dropdown-item" })</li>

                                                @if (Request.IsAuthenticated)
                                                {
                                                    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                                    {
                                                        <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item dropdown-logout">Logout</a>
                                                    }
                                                }


                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item ">
                                        @if (Request.IsAuthenticated)
                                        {
                                            using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                            {
                                                <a class="btn btn-general btn-nav btn-nav-2 smooth-scroll" href="javascript:document.getElementById('logoutForm').submit()"
                                                   role="button">Logout</a>
                                            }
                                        }


                                    </li>


                         
                                }
                                else
                                {
                                    <li class="nav-item ">
                                        @Html.ActionLink("LogIn", "Login", "Account", new { area = "" }, new { @class = "btn btn-general btn-nav btn-nav-2 smooth-scroll" })

                                    </li>
                                }


                            </ul>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div id="mobile-nav">
                        <!-- Mobile Menu Close Button -->
                        <span id="mobile-nav-close-btn">&times;</span>

                        <div id="mobile-nav-content">
                            <ul class="nav">
                                <li><a class="smooth-scroll" href="2.2.1-Search-notes.html">Search Notes</a></li>
                                <li><a class="smooth-scroll" href="dashboard.html">Sell Your Notes</a></li>
                                <li><a class="smooth-scroll" href="/Home/Faq">FAQ</a></li>
                                <li><a class="smooth-scroll" href="ContactUs.html">Contact Us</a></li>
                                <li><a class="btn btn-general btn-nav btn-nav-2 smooth-scroll" href="/User/login" role="button">Login</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- header ends  -->
    <!-- home -->
    <section id="home">
        <div class="home-bg-img"></div>

        <!-- home content -->
        <div id="home-content">
            <div>

                <div id="home-heading" class="text-center">
                    <h1 id="home-heading-1">Contact Us</h1>
                </div>

            </div>
        </div>
    </section>
    <!-- home end -->
    <!-- book list -->
    <section id="bookes">

        <div class="content-box-md">

            <div class="container">

                <!-- header Row -->
                <div class="row">

                    <!-- Main heading -->
                    <div class="col-md-12">
                        <div id="heading">
                            Get in Touch
                        </div>
                        <br />
                        <!-- Sub heading -->
                        <span id="Sub-heading">
                            Let us know how to get back to you
                        </span>
                    </div>

                </div>

                <!-- Details  -->
                @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();

                    <div class="container form-wrap">
                        <div>



                            <div class="row">

                                <div class="col-md-6">
                                    <label for="FullName"> Full Name </label><span class="required">*</span>
                                    <div class="form-group input-box ">

                                        @Html.TextBoxFor(model => model.FullName, htmlAttributes: new { @class = "", @placeholder = "Enter your full name" })
                                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                    </div>
                                    <label for="Email"> Email Address</label><span class="required">*</span>
                                    <div class="form-group input-box">

                                        @Html.TextBoxFor(model => model.EmailID, htmlAttributes: new { @class = "", @placeholder = "Enter your email address" })
                                        @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                                    </div>
                                    <label for="Subject"> Subject </label><span class="required">*</span>
                                    <div class="form-group input-box">

                                        @Html.TextBoxFor(model => model.Subject, htmlAttributes: new { @class = "", @placeholder = "Enter your subject" })
                                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group col-md-6">

                                    <label for="comment">Comment/Question</label><span class="required">*</span>
                                    @Html.TextAreaFor(model => model.Comments, htmlAttributes: new { style = "height:230PX", @class = "", @placeholder = "Comments..." })
                                    @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })

                                </div>

                            </div>

                            <button type="submit" class="btn btn-primary m-t-30 m-b-60" id="submit-btn-user" value="Contact">SUBMIT</button>

                        </div>
                    </div>}

            </div>

        </div>

    </section>



    <!-- footer  -->
    <footer class="text-left">
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>

                        Copyright &copy; Tatvasoft All Rights Reserved.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-icons">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-google-plus"></i>
                    </div>
                </div>
            </div>
        </div>

    </footer>





    <!-- jquery  -->
    <script src="../js/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="../js/bootstrap/bootstrap.min.js"></script>
    <script>

                    /* =========================================
                                Mobile Menu
                    ============================================ */
                    $(function () {

                    // Show mobile nav
                    $("#mobile-nav-open-btn").click(function () {
                        $("#mobile-nav").css("height", "100%");
                    });

                    // Hide mobile nav
                    $("#mobile-nav-close-btn, #mobile-nav a").click(function () {
                        $("#mobile-nav").css("height", "0%");
                    });

                    });
    </script>

</body>

</html>